<app-navbar></app-navbar>


<div class="col-md-6 user-container mg-t-20">
        <h2 class="text-center">Actulizar Novo Usuário</h2>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="hidden">
            <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
          </div>
          <div class="form-group">
            <label for="username">Nome de suário:</label>
            <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username" readonly="true">
          </div>
      
          <div class="form-group">
            <label for="password">Palavra-passe:</label>
            <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
          </div>
      
          <div class="form-group">
            <label for="lastName">Ultimo Nome:</label>
            <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
          </div>
      
          <div class="form-group">
            <label for="age">Idade:</label>
            <input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
          </div>
        
          <button class="btn btn-success">Actualisar</button>

        </form>
      </div>
      