
<app-navbar></app-navbar>

<div class="col-md-6 user-container mg-t-20">

        <div class="card">
            <div class="card-header">
                Adicionar Novo Usuário
            </div>
            <div class="card-body">

                <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                    <label for="username">Nome de suário:</label>
                    <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username">
                    </div>
                
                    <div class="form-group">
                    <label for="password">Palavra-passe:</label>
                    <input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password">
                    </div>
                
                    <div class="form-group">
                    <label for="firstName">Primeiro Nome:</label>
                    <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
                    </div>
                
                    <div class="form-group">
                    <label for="lastName">Ultimo Nome:</label>
                    <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
                    </div>
                
                    <div class="form-group">
                        <label for="age">Idade:</label>
                        <input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
                    </div>
                
                
                    <button class="btn btn-success">Adicionar</button>
                </form>
        </div>

</div>
</div>