
<app-navbar></app-navbar>

<div class="col-md-6 user-container">

<div class="card">
    <div class="card-header">
        Lista de Usuários  Cadastrados
    </div>
    <div class="card-body">

      <div class="col-md-12 user-container">
          <button class="btn btn-danger" style="width:200px" (click)="addUser()"> Novo Usuário</button>
          <table class="table table-striped">
            <thead>
            <tr>
              <th class="hidden">Id</th>
              <th>Nome completo</th>
              <th>Nome de Usuário</th>
              <th>Idade</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <td class="hidden">{{user.id}}</td>
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.username}}</td>
              <td>{{user.age}}</td>
              <td><button class="btn btn-success" (click)="deleteUser(user)"> Excluir</button>
                <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Editar</button></td>
            </tr>
            </tbody>
          </table>
        </div>

    </div>

</div>
</div>
  