
    
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://blackrockdigital.github.io/startbootstrap-coming-soon/mp4/bg.mp4" type="video/mp4">
    </video>

    <div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
            <div class="masthead-content text-white py-7 py-md-0">
                <h1 class="mb-3">Login</h1>
                <p class="mb-5">Web Design - Blog
                <strong>Agosto de 2019</strong>! Faça o Login para ter acesso a mais conteudos</p>
                <div class="input-group input-group-newsletter">

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                    <input type="text" class="form-control" formControlName="username" id="username" placeholder="Nome de Uusário" autocomplete="off" aria-describedby="basic-addon">
                    <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Informe o nome de usuário</div>
                    </div>
                    <div class="form-group"> 
                    <input type="password" class="form-control" formControlName="password" id="pwd" placeholder="Palavra-passse" autocomplete="off" aria-describedby="basic-addon">
                    <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Informe a Palavra passe</div>
                    </div>
                    <div class="input-group-append">
                            <button class="btn btn-success" [disabled]="loginForm.invalid">Entrar</button>
                        </div>
                    <div *ngIf="invalidLogin" class="error">
                    <div>Dados invalidos</div>
                    </div>
                </form>
                
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="social-icons">
        <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
            <a href="#">
            <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="list-unstyled-item">
            <a href="#">
            <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li class="list-unstyled-item">
            <a href="#">
            <i class="fab fa-instagram"></i>
            </a>
        </li>
        </ul>
    </div>
