<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" (click)="loginUser()" style="cursor: pointer;">Login <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active" (click)="addUser()" style="cursor: pointer;">Novo Usuario <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" (click)="listUser()" style="cursor: pointer;">Lista de Usuários<span class="sr-only">(current)</span></a>
            </div>
          </div>
      </nav>